<div>
  <ul class="nostyle">
    <li>
      <div class="file_input">
        <label class="image_input_button mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect">
          <i class="material-icons">attach_file</i>
          <input id="file_to_share" class="none" type="file" />
        </label>
      </div>
    </li>
  </ul>
</div>
<div id="remotes">
</div>

{{!-- {{#mdl-card title='My card'}}
  <div class="mdl-card__supporting-text">
    Lorem ipsum dolor sit amet, consectetur
    adipiscing elit. Mauris sagittis
    pellentesque lacus eleifend lacinia...
  </div>
  {{#mdl-card-actions}}
    {{mdl-button text='Get Started'}}
  {{/mdl-card-actions}}
  {{#mdl-card-buttons}}
    {{mdl-button icon='share'}}
  {{/mdl-card-buttons}}
{{/mdl-card}}

<div class="demo-list-action mdl-list">
  <div class="mdl-list__item">
    <span class="mdl-list__item-primary-content">
      <i class="material-icons mdl-list__item-avatar">person</i>
      <span>Bryan Cranston</span>
    </span>
    <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">star</i></a>
  </div>
  <div class="mdl-list__item">
    <span class="mdl-list__item-primary-content">
      <i class="material-icons mdl-list__item-avatar">person</i>
      <span>Aaron Paul</span>
    </span>
    <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">star</i></a>
  </div>
  <div class="mdl-list__item">
    <span class="mdl-list__item-primary-content">
      <i class="material-icons mdl-list__item-avatar">person</i>
      <span>Bob Odenkirk</span>
    </span>
    <span class="mdl-list__item-secondary-content">
      <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">star</i></a>
  </span>
  </div>
</div> --}}