<div>
  <ul>
    <li>
      <div class="file_input">
        <label class="image_input_button mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect">
          <i class="material-icons">attach_file</i>
          <input id="file_to_share" class="none" type="file" />
        </label>
      </div>
    </li>
  </ul>
</div>
<div id="remotes">
</div>