* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    color: white;
}

.ember-application {
    background-color: #219BAE;
    color: eggshell;
    padding: 10px 100px;
}

.btn {
    padding: 7px 15px;
    background-color: white;
    color: #219BAE;
    border: none;
    margin: 0px 10px;
    border-radius: 8px;
    font-size: 13px;
}

.heading {
    display: flex;
    justify-content: space-between;
}

.heading img {
    height: 50px;
}

.index {
    text-align: center;
}

.index h1 {
    font-weight: 500;
}

.index h2 {
    font-weight: 300;
}

.login-form {
    width: 500px;
    height: 250px;
    display: flex;
    flex-direction: column;
    margin: 100px auto;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 0 20px #555;
}

input {
    font-size: 18px;
    padding: 10px;
    border: 1px solid #219BAE;
    border-radius: 6px;
    font-weight: 300;
    margin: 10px;
    outline: none;
}

.video-chat {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: white;
    color: #999;
    text-align: center;
    padding: 10px;
    box-shadow: 0 -2px 22px #555;
}

video {
    height: 200px;
    border-radius: 8px;
}

.muted, .paused{
    display: none;
    position: absolute;
    z-index: 1;
    color: #12acef;
}

.muted{
    left: 0px;
    bottom: 10%;
    width: 100%;
}

.paused{
    left: 0px;
    top: 40%;
    width: 100%;
}

.room-navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.room-navbar ul>li {
    float: left;
    line-height: 50px;
}

.room-navbar-sidebar .room-navbar-sidebar-link {
    text-align: center;
    color: #D2D2D2;
    width: 36px;
    height: 36px;
    line-height: 34px;
    font-size: 24px;
    padding: 0;
    margin: 7px 4px 0 0;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

.room-navbar ul>li>a {
    display: inline-block;
    padding: 0;
    background-color: transparent;
}