<div class="index">
    <h1>Get your team on PureCloud Collaborate.</h1>
    <h2>Group chat, video conferencing, desktop sharing and more.</h2>
    <img class="hero" src="assets/images/hero.png"/>
</div>
