{{#if isOpen}}
  {{chat-messages
    closeChat=(action 'toggleChat')}}
{{else}}
  <div class="chat-messages-container" {{action 'toggleChat'}}>
    <div class="chat-app-first-line">
      <span>Necesitas ayuda?. Solicita ayuda.</span>
    </div>
  </div>
{{/if}}


