{{#if isOpen}}
  {{chat-messages
    closeChat=(action 'toggleChat')}}
{{else}}
  <div class="chat-messages-container" mouseEnter={{action 'toggleChat'}}>
    <div class="chat-app-first-line"></div>
  </div>
{{/if}}


