<div>
  <section class="">
    <div class="row">
      <div class="col-sm-3">&nbsp;</div>
      <div class="col-sm-6">&nbsp;</div>
      <div class="col-sm-3">{{#chat-app}}{{/chat-app}}</div>
    </div>
  </section>
</div>