@import "_color-definitions";

$color-primary: $palette-teal-500;
$color-accent: $palette-pink-A200;

@import "material-design-lite";

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

body {
  height: 100vh;
}

.marvel-device.iphone6.silver {
  margin-top: -30px;
}

.marvel-device .screen {
  text-align: left;
  z-index: 3;
  color: inherit;
  -webkit-box-shadow: inherit;
  box-shadow: inherit;
}

.action-bar {
  width: 330px;
}

.option {
  width: 43px;
  padding-top: 8px;
}

span.emoji {
  font-family: initial;
}

#msg-input {
  width: 245px;
}

.chat-app {
  position: relative;
  height: 100%;
  padding-top: 0 !important;
}

.chat-app .action-bar {
  position: absolute;
  width: 100%;
  bottom: 0;
}

#try-it-out {
  width: 160px;
  font-weight: 200;
  padding: 10px 16px;
  vertical-align: bottom;
}

#message-list {
  width: 100%;
  height: 140px;
  overflow: scroll;
  margin-bottom: 36px;
  box-shadow: 0 -2px 22px #555;
}

#message-list.message-list-big {
  height: 440px;
}

#message-list.message-list-small {
  height: 140px;
}

#input-name {
  width: 350px;
}

.chat-app .action-bar button.option.send-message {
  border-radius: 0;
  padding-top: 0;
}

input.input-message {
  display: inline-block;
  width: 89%;
}

input.input-message:focus,
input.input-message:hover {
  outline: none;
  box-shadow: none;
}

.red-gradient-background {
  background: #fe845a;
  background-image: -webkit-linear-gradient(top, #fe845a, #d14e37);
  background-image: linear-gradient(to bottom, #fe845a, #d14e37);
}

.top-bar{
  height: 65px;
  background-color: white;
}

.top-bar.top-bar-small {
  height: 65px;
}

.top-bar.top-bar-big {
  height: 90%;
}

/*.bottom-bar {
  height: 60px;
  background-color: white;
}

.bottom-bar ul.chat-controls {
  list-style: none;
  margin: 0;
  padding: 5px 0;
  float: left;
}

.bottom-bar ul.chat-controls > li {
  display: inline;
  padding: 0 5px;
}*/

input[type="file"].none {
  display: none;
}

.chat-messages-container {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 400px;
}

.chat-app-first-line {
  background-image: url("images/message-icon.png");
  background-size: 22px 22px;
  background-repeat: no-repeat;
  border-radius: 50%;
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 48px;
  height: 48px;
  cursor: pointer;
  background-position: 50%;
  background-color: #0074b0;
  border: 1px solid #004c88;
}

.top-action-bar .agents {
  float: left;
}

.top-action-bar .agents .avatar {
  display: inline-block;
}

.top-action-bar .agents .avatar:not(:first-child) {
    margin-left: -22px;
}


.chat-app .message .avatar img,
.top-action-bar .agents .avatar img {
    max-width: inherit;
    height: 44px;
    width: 44px;
}

.media-object, .chat-app .message .avatar img {
    display: block;
}

.img-circle,
.chat-app .message .avatar img,
.top-action-bar .agents .avatar img {
    border-radius: 50%;
}

audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}



/* VIDEO CHAT STYLES */

.btn {
    padding: 7px 15px;
    background-color: white;
    color: #219BAE;
    border: none;
    margin: 0px 10px;
    border-radius: 8px;
    font-size: 13px;
}

.video-chat {
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: white;
    color: #999;
    text-align: center;
    padding: 10px;
}



.participants video{
  height: 200px;
  border-radius: 8px;
}

.participants video.video-small {
  height: 60px;
  border-radius: 8px;
  position: absolute;
  top: 150px;
  right: 67px;
}

.participants video.video-big {
  width: 100%;
  height: 200px;
  border-radius: 8px;
}

.blink-button {
    animation-duration: 1200ms;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    -webkit-animation:blink 1200ms infinite; /* Safari and Chrome */
}

@keyframes blink {
    from {
        color:white;
    }
    to {
        color:red;
    }
}
@-webkit-keyframes blink {
    from {
        color:white;
    }
    to {
        color:red;
    }
}

.room-navbar{
  height: 50px;
}

.room-navbar ul.video-controls {
    list-style: none;
    margin: 0;
    padding: 0;
}

.room-navbar ul.video-controls>li {
    display: inline-block;
    line-height: 50px;
    padding: 2px 10px;
    text-align: center;
}

.room-navbar-sidebar .room-navbar-sidebar-link {
    text-align: center;
    color: #D2D2D2;
    width: 36px;
    height: 36px;
    line-height: 34px;
    font-size: 24px;
    padding: 0;
    margin: 7px 4px 0 0;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

.room-navbar ul>li>a {
    display: inline-block;
    padding: 0;
    background-color: transparent;
}
